[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lb = log --first-parent --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
	graph = log --graph --all --decorate --stat --date=iso
	co = checkout
	st = status
	stu = status -uno
	ds = diff --staged
	unstage = reset HEAD --
[user]
	email = jmanrique@quercus.biz
	name = Jan Manrique
[push]
	default = simple
[core]
	askpass = git-gui--askpass
	excludesfile = ~/.gitignore
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
	helper = cache
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
